.Rproj.user
.Rhistory
.RData

*.pdf
*.rda
*.png
marmap_coord_-129.04825;47.74815;-124.415633;51.0058_res_1.csv
marmap_coord_-131.708066;50.505316;-127.449483;53.183_res_1.csv
marmap_coord_-134.287133;52.56505;-132.120716;54.976666_res_1.csv
marmap_coord_-133.35505;52.20215;-129.349766;55.1566_res_1.csv
*.html
*.rds
*.aux
*.log
*html*
*chunk*
*data-cache*
resdoc/cache/*
marmap_coord_-129.04825;47.74815;-124.291016;51.0058_res_1.csv
marmap_coord_-131.708066;50.505316;-127.383166;53.183_res_1.csv
marmap_coord_-133.3589;52.20215;-129.349766;55.1566_res_1.csv
marmap_coord_-134.535533;47.721833;-124.291016;55.172733_res_1.csv
marmap_coord_-134.535533;52.4393;-132.120716;54.976666_res_1.csv
*.bbl
*.blg
*.fdb_latexmk
*.fls
resdoc/gf-synopsis-wp.tex
*.toc
*.upa
resdoc/introduction.tex
resdoc/methods.tex
marmap_coord_-134.9917;47.4997;-123.9917;55.4956_res_1.csv
*.gz
*.upb
resdoc/spatial-appendix-concordance.tex
resdoc/spatial-appendix.tex
*.out
*.lof
*.docx
*.o
*.so
*.sublime-project
*.sublime-workspace
framed.sty
inst/doc
report/report/doc/02-plots.Rnw
report/report/knit*
report/report/*.rtf
resdoc/
inst/rockfish-map-*
*.*~
pbs-gf-trawl.csv
report/report-rmd/_bookdown_files/
report/report-rmd/_book/
report/report-rmd/knitr-cache*
report/report-rmd/plot-pages.Rmd
cpue-cache.zip
report/report-rmd/resdoc.Rmd
report/report-rmd/resdoc_cache/
report/report-rmd/resdoc.utf8.md
report/report-rmd/resdoc.tex
report/report-rmd/resdoc.knit.md
*.ppt
report/presentations/iphc-survey/knitr-cache/*
report/presentations/iphc-survey/*.nav
report/presentations/iphc-survey/*.snm
report/presentations/iphc-survey/*.tex
report/presentations/iphc-survey/uncertainty-talk.Rnw
report/archive/
report/report/

report/report-rmd/csas-style/sr.sty
report/report-rmd/csas-style/tech-report.sty
report/report-rmd/csas-style/sr-french.sty
report/report-rmd-fr/_bookdown_files/
report/report-rmd-fr/_book/
report/report-rmd-fr/knitr-cache*
report/report-rmd-fr/plot-pages.Rmd
report/report-rmd-fr/resdoc.Rmd
report/report-rmd-fr/resdoc_cache/
report/report-rmd-fr/resdoc.utf8.md
report/report-rmd-fr/resdoc.tex
report/report-rmd-fr/resdoc.knit.md
report/report-rmd-fr/csas-style/sr.sty
report/report-rmd-fr/csas-style/tech-report.sty
report/report-rmd-fr/csas-style/sr-french.sty

report/report-rmd-fr/labels_for_translation.txt
report/report-rmd-fr/figure/
report/report-rmd-fr/tables/

report/admin/
report/report-rmd/csas-style/res-doc.sty
report/report-rmd-fr/csas-style/res-doc.sty


