*.log
*.aux
*.bbl
*.blg
*~
~$*
*.dvi
*.ps
.RData
.RHistory
*.7z
*.toc
*.out
*.vrb
*.nav
*.snm
*.upa
*.upb
*.pdf
*.lof
*.lot
*.pdf
*.tex
*-concordance.tex
*.synctex.gz
*.synctex(busy)
.DS_Store
.Rproj.user
*.Rproj
.Rapp.history
